* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #255;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);   
}

.grid div {
    width: 30px;
    height: 30px;
    background-color: #000; /* Czarne komórki */
    border: 1px solid #777; /* Szara siatka */
}
